.roboto, body {
  font-family: 'Roboto', sans-serif;
}

.roboto-condensed, h1, h2, h3, h4, h5, h6, .section .speaker-name, form.register-form .form-control, #countdown-to-event > div .h1, #countdown-to-event-fr > div .h1, .control {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 66px;
}

a {
  color: #d81c5c;
}
a:hover {
  color: #ab1649;
}

.muted {
  color: #adadad;
}

.btn {
  border-radius: 0 !important;
  font-size: 12px;
  padding: 6px 24px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
.btn.btn-default {
  border: 2px solid #FFF;
  background-color: transparent;
  color: #FFF;
}
.btn.btn-default:hover, .btn.btn-default.active {
  color: #000;
  background-color: #FFF;
  box-shadow: none;
}
.btn.btn-default.btn-pink {
  border: 2px solid #d81c5c;
  background-color: #d81c5c;
  color: #FFF;
  padding-bottom: 7px;
}
.btn.btn-default.btn-pink:hover {
  color: #d81c5c;
  background-color: #FFF;
}
.btn.btn-default.btn-pink.btn-sm {
  padding: 3px 12px;
}
.btn.btn-default.btn-pink.btn-pink-inverse {
  border: 2px solid #d81c5c;
  background-color: transparent;
  color: #d81c5c;
}
.btn.btn-default.btn-pink.btn-pink-inverse:hover {
  color: #FFF;
  background-color: #d81c5c;
}

.active .btn.btn-default.btn-pink.btn-pink-inverse {
  background-color: #d81c5c;
  color: #FFF;
}

.form-control {
  border-radius: 0;
  border: 2px solid #d81c5c;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus {
  background-color: transparent;
  color: #333;
}

.dropdown-menu > .active > a:hover {
  color: #262626;
  background-color: #f5f5f5;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #d81c5c;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-collapse {
  border: 0 none;
}

.navbar {
  min-height: 130px;
  background-color: #FFF;
  margin-bottom: 0;
}
.navbar .navbar-toggle {
  margin-top: 24px;
  border: 0 none !important;
}
.navbar .navbar-right .dropdown-menu {
  left: 0;
}
.navbar .navbar-right ~ .navbar-right {
  margin-right: -15px !important;
}
.navbar .nav.navbar-nav.navbar-nav-small > li > a {
  color: #d81c5c;
}
.navbar .nav.navbar-nav > li > a {
  color: #000;
  font-weight: 500;
}
.navbar .nav.navbar-nav > li > a:hover {
  text-decoration: underline;
}
.navbar .nav.navbar-nav > li.active > a {
  font-weight: 700;
  text-decoration: underline;
  background-color: #FFF;
}

@keyframes pulse {
  0% {
    opacity: 0.02;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.02;
  }
}
.hero {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding-bottom: 200px;
  padding-top: 100px;
  height: 680px;
  color: #FFF;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.hero iframe {
  width: 100%;
}
.hero .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hero.mini-hero {
  height: 500px !important;
}
.hero.mini-hero h1 {
  text-transform: uppercase;
}
.hero .nodes {
  opacity: 0.05;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/nodes.png");
  background-size: cover;
  animation-duration: 3s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}
.hero.front-page h1 {
  color: #97c93c;
}
.hero h1 {
  margin-top: 0;
  color: #FFF;
  font-size: 52px;
  letter-spacing: 0.05em;
}
.hero h2 {
  font-size: 72px;
  color: #FFF;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.hero small {
  letter-spacing: 0.5em;
  color: #FFF;
}

.section {
  position: relative;
}
.section > div {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section.main-speakers .speaker-name {
  font-size: 24px;
}
.section.main-speakers .speaker-name a {
  color: #000;
  text-transform: uppercase;
}
.section.main-speakers img {
  max-height: 265px;
  border: 6px solid #d81c5c;
  border-radius: 300px;
  margin: 20px 0;
  transition: transform 250ms ease-in-out;
}
.section.main-speakers img:hover {
  transform: scale(1.05);
}
.section.the-experts .col-sm-3 {
  margin: 20px 0;
}
.section.the-experts .speaker-name {
  font-size: 20px;
  text-transform: uppercase;
}
.section.the-experts .speaker-name a {
  color: #000;
}
.section.the-experts img {
  max-height: 200px;
  max-width: 200px;
  border: 6px solid #97c93c;
  border-radius: 300px;
  margin: 20px 0;
  transition: transform 250ms ease-in-out;
}
.section.the-experts img:hover {
  transform: scale(1.1);
}
.section.agenda p {
  margin: 0;
}
.section.agenda p.small {
  color: #000;
}
.section.agenda tbody {
  color: #FFF;
}
.section.agenda .day-toggle {
  margin-bottom: 50px;
}
.section.agenda .nav > li {
  opacity: 0.5;
}
.section.agenda .nav > li.active {
  opacity: 1;
}
.section.agenda .nav > li.active a {
  padding: 0 0 20px 0;
  background-color: transparent;
  border: 0 none;
}
.section.agenda .nav > li.active a p {
  color: #FFF;
}
.section.agenda .nav > li.active a p.small {
  color: #000;
}
.section.agenda .nav > li > a {
  padding: 0 0 20px 0;
  text-align: left;
  border: 0 none;
}
.section.agenda .nav > li > a p {
  color: #FFF;
}
.section.agenda .nav > li > a p.small {
  color: #000;
}
.section.agenda .nav > li > a:hover {
  opacity: 1;
  background-color: transparent;
}
.section.agenda .tab-content {
  font-size: 14px;
  margin-bottom: 10px;
}
.section .blog-post {
  margin: 20px 0 30px;
}
.section .blog-post .small {
  color: #d81c5c;
  font-style: italic;
}
.section .blog-post .post-title {
  font-size: 18px;
}
.section .blog-post .post-title a {
  color: #000;
  text-transform: uppercase;
}
.section.blog-posts h3 {
  margin-bottom: 30px;
}
.section .card {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 1em #adadad;
  margin-bottom: 30px;
}
.section .card .card-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
  height: 250px;
}
.section .card .card-content {
  text-align: left;
  padding: 10px;
}
.section .card .card-content .small {
  color: #d81c5c;
  font-weight: bold;
}
.section .card .card-content .post-title a {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
.section .card .card-content .post-content {
  font-size: 12px;
}
.section.footer a {
  color: #FFF;
}
.section.footer a:hover {
  color: #e6e6e6;
  background-color: transparent;
  text-decoration: underline;
}

.svg-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -1px;
}

.svg-top {
  margin-top: -1px;
}

.__white {
  background-color: #FFF;
  fill: #FFF;
}

.__gray {
  background-color: #eeefef;
  fill: #eeefef;
}

.__blue {
  background-color: #058ed0;
  fill: #058ed0;
}

.__green {
  background-color: #97c93c;
  fill: #97c93c;
}

.__teal {
  background-color: #00a59b;
  fill: #00a59b;
}

.__pink {
  background-color: #d81c5c;
  fill: #d81c5c;
}

.__black {
  background-color: #000;
  fill: #000;
}

.__green-text {
  color: #97c93c !important;
}

.__black-text {
  color: #000 !important;
}

.__white-text {
  color: #FFF !important;
}

form.register-form div.checkbox, form.register-form div.radio {
  margin-top: 0;
}
form.register-form .form-control {
  padding-left: 0;
  letter-spacing: 0.1em;
  border: 0 none;
  border-bottom: 2px solid #000;
  background-color: transparent;
  box-shadow: none;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 30px;
}
form.register-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #FFF;
}
form.register-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF;
}
form.register-form :-ms-input-placeholder {
  /* IE 10+ */
  color: #FFF;
}
form.register-form :-moz-placeholder {
  /* Firefox 18- */
  color: #FFF;
}

.__placeholder-pink::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #d81c5c;
}
.__placeholder-pink::-moz-placeholder {
  /* Firefox 19+ */
  color: #d81c5c;
}
.__placeholder-pink:-ms-input-placeholder {
  /* IE 10+ */
  color: #d81c5c;
}
.__placeholder-pink:-moz-placeholder {
  /* Firefox 18- */
  color: #d81c5c;
}

#countdown-to-event, #countdown-to-event-fr {
  margin-bottom: 30px;
}
#countdown-to-event > div, #countdown-to-event-fr > div {
  display: inline-block;
}
#countdown-to-event > div:first-child, #countdown-to-event-fr > div:first-child {
  margin-right: 40px;
}
#countdown-to-event > div .h1, #countdown-to-event-fr > div .h1 {
  font-size: 72px;
  margin-bottom: 0;
}

.social-icon {
  padding-left: 10px;
}
.social-icon a {
  line-height: 0;
  font-size: 0;
  color: transparent;
  background-repeat: no-repeat !important;
}
.social-icon.social-pink a {
  background-position: 5px 15px;
}
.social-icon.social-pink.social-twitter a {
  background-image: url("../img/twitter-icon-pink.png");
}
.social-icon.social-pink.social-youtube a {
  background-image: url("../img/yt-icon-pink.png");
}
.social-icon.social-pink.social-instagram a {
  background-image: url("../img/ig-icon-pink.png");
}
.social-icon.social-white.social-twitter a {
  background-image: url("../img/twitter-icon-white.png");
}
.social-icon.social-white.social-youtube a {
  background-image: url("../img/yt-icon-white.png");
}
.social-icon.social-white.social-instagram a {
  background-image: url("../img/ig-icon-white.png");
}

.sbi_load_btn {
  border-radius: 0 !important;
  padding: 3px 12px !important;
  letter-spacing: 0.25em;
  font-size: 12px !important;
  text-transform: uppercase;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  border: 2px solid #d81c5c !important;
}
.sbi_load_btn:hover {
  color: #d81c5c !important;
  background-color: #FFF !important;
  opacity: 1 !important;
}

/*
 * WTF, forms?
 * Released under MIT and copyright 2014 Mark Otto.
 * http://wtfforms.com
 *
 * Embedded icons from Open Iconic.
 * Released under MIT and copyright 2014 Waybury.
 * http://useiconic.com/open
 */
/*
 * Checkboxes and radios
 */
.control {
  letter-spacing: 0.1em;
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
  color: #FFF;
  cursor: pointer;
}

.control input:not(.form-control) {
  position: absolute;
  opacity: 0;
  z-index: -1;
  /* Put the input behind the label so it doesn't overlay text */
}
.control input.form-control {
  margin-top: -5px;
}

.control-indicator {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1rem;
  font-size: 65%;
  color: #FFF;
  text-align: center;
  background-color: transparent;
  background-size: 75% 75%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.control:hover .control-indicator {
  color: #fff;
  background-color: #ccc;
}
*/
/* Focus */
.control input:focus ~ .control-indicator {
  box-shadow: 0;
}

/* Checked state */
.control input:checked ~ .control-indicator {
  color: #fff;
  background-color: transparent;
}

/* Active */
.control input:active ~ .control-indicator {
  color: #fff;
  background-color: #84c6ff;
}

/* Checkbox modifiers */
.checkbox .control-indicator {
  border-radius: 0;
  border: 1px solid #FFF;
}

.checkbox input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
}

.checkbox label {
  padding-left: 25px;
}

/* Radio modifiers */
.radio .control-indicator {
  border-radius: 50%;
  border: 1px solid #FFF;
}

.radio input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
}

/* Alternately, use another character */
.control-x input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iOHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDggOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLjQsMEwwLDEuNGwwLjcsMC43bDEuOCwxLjhMMC43LDUuN0wwLDYuNGwxLjQsMS40bDAuNy0wLjdsMS44LTEuOGwxLjgsMS44bDAuNywwLjdsMS40LTEuNEw3LjEsNS43DQoJTDUuMywzLjlsMS44LTEuOGwwLjctMC43TDYuNCwwTDUuNywwLjdMMy45LDIuNUwyLjEsMC43QzIuMSwwLjcsMS40LDAsMS40LDB6Ii8+DQo8L3N2Zz4NCg==);
}

.control-dash input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iOHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDggOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDN2Mmg4VjNIMHoiLz4NCjwvc3ZnPg0K);
}

/*
 * Select
 */
.select {
  position: relative;
  display: inline-block;
  color: #555;
}

.select select {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: .5rem 2.25rem .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Undo the Firefox inner focus ring */
.select select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* Dropdown arrow */
.select:after {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  margin-top: -.15rem;
  pointer-events: none;
  border-top: .35rem solid;
  border-right: .35rem solid transparent;
  border-bottom: .35rem solid transparent;
  border-left: .35rem solid transparent;
}

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.select select:hover {
  background-color: #ddd;
}
*/
/* Focus */
.select select:focus {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

/* Active/open */
.select select:active {
  color: #fff;
  background-color: #0074d9;
}

/* Hide the arrow in IE10 and up */
.select select::-ms-expand {
  display: none;
}

/* Media query to target Firefox only */
@-moz-document url-prefix() {
  /* Firefox hack to hide the arrow */
  .select select {
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 1rem;
  }

  /* <option> elements inherit styles from <select>, so reset them. */
  .select option {
    background-color: #fff;
  }
}
/* IE9 hack to hide the arrow */
@media screen and (min-width: 0\0) {
  .select select {
    z-index: 1;
    padding: .5rem 1.5rem .5rem 1rem;
  }

  .select:after {
    z-index: 5;
  }

  .select:before {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    z-index: 2;
    content: "";
    display: block;
    width: 1.5rem;
    background-color: #eee;
  }

  .select select:hover,
  .select select:focus,
  .select select:active {
    color: #555;
    background-color: #eee;
  }
}
/* IE9 hacks to accompany custom markup. We don't need to scope this via media queries, but I feel better doing it anyway. */
@media screen and (min-width: 0\0) {
  .progress {
    background-color: #eee;
    border-radius: .2rem;
  }

  .progress-bar {
    display: inline-block;
    height: 1rem;
    text-indent: -999rem;
    /* Simulate hiding of value as in native `<progress>` */
    background-color: #0074d9;
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
  }

  .progress[width="100%"] {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
  }
}
/*
 * Control layouts
 */
.controls-stacked {
  margin: 1rem 0;
}

.controls-stacked .control,
.controls-stacked .progress {
  display: block;
}

.controls-stacked .control + .control,
.controls-stacked .progress + .progress {
  margin-top: .5rem;
}

.controls-inline {
  margin: 1rem 0;
}

.controls-inline .control {
  display: inline-block;
  height: 1rem;
}

.controls-inline .control + .control {
  margin-left: 1rem;
}

@media (max-width: 1200px) {
  .navbar-brand img {
    width: 70%;
    margin-top: 15px;
  }

  .footer li > a > img {
    max-width: 400px !important;
  }

  h1, .hero h1, #countdown-to-event > div .h1 {
    font-size: 45px;
  }
}
@media (max-width: 991px) {
  .navbar-brand img {
    width: 42%;
    margin-top: 25px;
  }

  .footer li > a > img {
    max-width: 200px !important;
  }

  .section.main-speakers img {
    max-height: 200px !important;
    max-width: 200px !important;
  }

  .section.the-experts img {
    max-height: 150px !important;
    max-width: 150px !important;
  }
}
@media (max-width: 767px) {
  h1, .hero h1, #countdown-to-event > div .h1 {
    font-size: 35px;
  }

  .hero {
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
  }
  .hero .container {
    top: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .hero.mini-hero {
    height: auto !important;
  }

  #countdown-to-event > div:first-child {
    display: block;
    margin-right: 0;
  }

  .footer .nav, .navbar-collapse .nav {
    text-align: center !important;
  }

  .social-icon {
    display: inline-block !important;
  }

  .navbar {
    min-height: 80px;
  }

  .navbar-brand {
    width: 80%;
  }
  .navbar-brand img {
    width: auto;
    max-height: 50px;
    margin: 0;
    display: inline;
  }

  .section.main-speakers img {
    max-height: 250px;
    max-width: 250px;
  }

  .section.the-experts img {
    max-height: 200px;
    max-width: 200px;
  }

  iframe {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 399px) {
  .navbar-brand {
    width: 80%;
  }
  .navbar-brand img {
    width: 100%;
    margin: 0;
    display: inline;
  }
}

/*# sourceMappingURL=theme.css.map */
